<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - r4b_eat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/r4b_eat.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/box.css' rel='stylesheet'>
</head>
<body>
    <!-- Vertical navbar -->
    <div class="vertical-nav bg-white" id="sidebar">
        <div style="border-bottom:1px solid black; background-color:lightcyan;" class="py-4 px-3 mb-4">
            <div class="media d-flex align-items-center">
                <img src="https://bootstrapious.com/i/snippets/sn-v-nav/avatar.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <div class="media-body">
                    <h4 class="m-0">EAT Admini</h4>
                    <p class="font-weight-light text-muted mb-0">Admin</p>
                </div>
            </div>
        </div>

        <p style="text-align:center; font-size:20px; border-bottom:1px solid black;" class="text-black font-weight-bold text-uppercase px-3 small pb-4 mb-0">Glavno</p>

        <ul style="text-align:center; margin-top:13px; " class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a class="nav-link text-dark font-italic" asp-area="" asp-controller="Admin" asp-action="Predmeti">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    <!-- <i class="gg-box"></i> -->
                    Predmeti
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark font-italic" asp-area="" asp-controller="Admin" asp-action="Ucitelji">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    Ucitelji
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark font-italic" asp-area="" asp-controller="Admin" asp-action="Ucenci">
                    <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    Ucenci
                </a>
            </li>
        </ul>

        <p style="text-align: center; font-size: 20px; border-bottom: 1px solid black; border-top: 1px solid black; margin-top: 13px; " class="text-blakc font-weight-bold text-uppercase px-3 small py-4 mb-0">Druga</p>

        <ul style="text-align:center; margin-top:13px;" class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a class="nav-link text-dark font-italic" asp-area="" asp-controller="Admin" asp-action="Naloge">
                    <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                    Naloge
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark font-italic" asp-area="" asp-controller="Admin" asp-action="Gradiva">
                    <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                    Gradiva
                </a>
            </li>

        </ul>
    </div>
    <!-- End vertical navbar -->
    <!-- Page content holder -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <!-- End demo content -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

