<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - r4b_eat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/r4b_eat.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container" id="containers">
            <nav class="navbar navbar-expand-lg main-nav px-0">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="profilePic" src="~/img/noodles.png" />NOODLE</a>
                
             
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav ml-auto text-uppercase f1">

                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Domov</a>
                        </li>

                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Prijavi se</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Shortcut</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        
        <!--  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer class="usDescription">
            <p style="padding-top:40px;">PRIVACY - COPYRIGHT BY NOODLE</p>
            
</footer>
</html>

