<div class="predmetiOpisMain">
    <div class="opisPredmeta">
        <h1>Gradiva</h1>
        <div class="predmetki">
            <h2>ime predmeta</h2>
            <h5>Profesor</h5>
            <br />
            <p> opis kaj je to</p>
            <p>file</p>
        </div>
        <div class="predmetki">
            <h2>ime predmeta</h2>
            <h5>Profesor</h5>
            <br />
            <p> opis kaj je to</p>
            <p>file</p>
        </div>

    </div>
    
</div>
