<div class="predmetiOpisMain">
    <div class="opisPredmeta">
        <h1 >Ime Gradiva</h1>
        <div class="predmetki">
            <h2 style="margin-bottom:30px;">ime predmeta</h2>
            <h5>Profesor</h5>
            <br />
            <p> opis kaj je to</p>
            <p>file</p>
           
        </div>
        
        
    </div>
    
</div>
