@model gradivaEntity

<div class="predmetiOpisMain">
    <div class="opisPredmeta">
        
        <div class="predmetki">
            <h1 >@Model.ime</h1>
            <h5>@Model.opis</h5>
            <br />
            
            <p> <a href="@ViewBag.file" download > @Model.ime_datoteke </a> </p>
        </div>
        

    </div>
    
</div>
