<div class="mainDiv">
       
    <div class="item item3">
        <h1 style="width:100%; margin-bottom:30px;">
            Pomembna gradiva
            @*dodaj = ime gradiva opis ime profesorja, predmet in odpri*@

        </h1>
        <br />

        <table class="vseTabela tabelala">
            <thead class="headin">
                <tr>
                    <th class="vseTabelaHeadOne">#</th>
                    <th class="vseTabelaHead">Ime gradiva</th>
                    <th class="vseTabelaHead">Ime Profesorja</th>
                    <th class="vseTabelaHead">Opis</th>
                    <th class="vseTabelaHead">Predmet</th>
                    <th class="vseTabelaHead">Odpri gradivo</th>
                </tr>
            </thead>
            <tbody class="vseTabela tabelala">
                <tr class="vseTabela tabelala">
                    <td>1</td>
                    <td>potence</td>
                    <td>marko</td>
                    <td>glavno za mat</td>
                    <td>Matematika</td>
                    <td>
                        <a class="null" asp-area="" asp-controller="Dijak" asp-action="Gradiva">
                            <span class="bold"> ODPRI </span>
                        </a>
                    </td>

                </tr>


            </tbody>
        </table>

    </div>
    <div class="item item4">
        <h1 style="margin-bottom:30px;">
            Naloge
        </h1>
        <table class="vseTabela tabelala">
            <thead class="headin">
                <tr>
                    <th class="vseTabelaHeadOne">#</th>
                    <th class="vseTabelaHead">Naloga</th>
                    <th class="vseTabelaHead">Profesor</th>
                    <th class="vseTabelaHead">Opis</th>
                    <th class="vseTabelaHead">Predmet</th>
                    <th class="vseTabelaHead">Oddaja</th>
                </tr>
            </thead>
            <tbody class="vseTabela tabelala">
                <tr class="vseTabela tabelala">
                    <td>1</td>
                    <td>ime</td>
                    <td>jako</td>
                    <td>opisovanje narave</td>
                    <td>naravoslovje</td>
                    <td>
                        <a class="null" asp-area="" asp-controller="Dijak" asp-action="OddajaNaloge">
                            <span class="bold">ODDAJ NALOGO</span>
                        </a>
                    </td>

                </tr>


            </tbody>
        </table>
    </div>
  
</div>