@model nadzornaDisplay

<div class="mainDiv">
       
    <div class="item item3">
        <h1 style="width:100%; margin-bottom:30px;">
            Pomembna gradiva
            @*dodaj = ime gradiva opis ime profesorja, predmet in odpri*@

        </h1>
        <br />

        <table class="vseTabela tabelala">
            <thead class="headin">
                <tr>
                    <th class="vseTabelaHeadOne">#</th>
                    <th class="vseTabelaHead">Ime gradiva</th>
                    <th class="vseTabelaHead">Opis</th>
                    <th class="vseTabelaHead">Odpri gradivo</th>
                </tr>
            </thead>
            <tbody class="vseTabela tabelala">

                @foreach (var i in Model.gradiva)
                    {


                <tr class="vseTabela tabelala">
                    <td>1</td>
                    <td>@i.ime</td>
                    <td>@i.opis</td>
                    <td>
                        <a class="null" href="/Dijak/Gradiva?id=@i.id_gradiva">
                            <span class="bold"> ODPRI </span>
                        </a>
                    </td>

                </tr>
                    }

            </tbody>
        </table>

    </div>
    <div class="item item4">
        <h1 style="margin-bottom:30px;">
            Naloge
        </h1>
        <table class="vseTabela tabelala">
            <thead class="headin">
                <tr>
                    <th class="vseTabelaHeadOne">#</th>
                    <th class="vseTabelaHead">Naloga</th>
                    <th class="vseTabelaHead">Navodilo</th>
                    <th class="vseTabelaHead">Oddaja</th>
                </tr>
            </thead>
            <tbody class="vseTabela tabelala">

                @foreach (var i in Model.naloge)
                    {


                <tr class="vseTabela tabelala">
                    <td>1</td>
                    <td>@i.ime_naloge</td>
                    <td>@i.navodilo_naloge</td>
                    <td>naravoslovje</td>
                    <td>
                        <a class="null" href="/Dijak/OddajaNaloge?id=@i.id_naloge">
                            <span class="bold">ODDAJ NALOGO</span>
                        </a>
                    </td>

                </tr>
                    }

            </tbody>
        </table>
    </div>
  
</div>