<div class="mainDiv">
        <div class="item item1">
             <h1>quote</h1>
        </div>
    <div class="item item2">
        <h1>
            nevem ka pise
        </h1>
    </div>
    <div class="item item3">
        <h1 style="width:100%; margin-bottom:15px;">
            Pomembna gradiva
        </h1>
        <br />
        <div class="gradivaProstor">lalala</div>
        <div class="gradivaProstor">lalala</div>
        <div class="gradivaProstor">lalala</div>
        


    </div>
    <div class="item item4">
        <h1>
            Naloge
        </h1>
    </div>
    <div class="item item5">
        <div class="itemfivediv">
            <h2 style="width:100%;">
                Datoteke
            </h2>
            <div class="datotekeProstor">
                <div style="max-height:max-content;">
                    <p>ime</p>
                    <br />
                    <p>opis</p>
                </div>
                <div>
                    time left:
                </div>
                
            </div>
            <div class="datotekeProstor">lalala</div>
        </div>
        <hr />
        <div class="itemfivediv">
            <h2>
                Prihajajoce
            </h2>
        </div>
    </div>
</div>