<div class="predmetiOpisMain">
    <div class="opisPredmeta">
        <h1>Naloge</h1>
        <div class="predmetki">
            <h2>ime predmeta</h2>
            <h5>Profesor</h5>
            <br />
            <p> opis kaj je to</p>
             <a class="null" asp-area="" asp-controller="Dijak" asp-action="OddajaNaloge"> Oddaj nalogo</a>
        </div>
        <div class="predmetki">
            <h2>ime predmeta</h2>
            <h5>Profesor</h5>
            <br />
            <p> opis kaj je to</p>
            <a class="null" asp-area="" asp-controller="Dijak" asp-action="OddajaNaloge"> Oddaj nalogo</a>
        </div>

    </div>
    
</div>
