<div class="predmetiOpisMain">
    <div class="opisPredmeta">
        <div class="predmetki minHeight">
            <h2>ime predmeta</h2>
            <h5>Profesor</h5>
            <br />
            <br />
            <form class="formiran">
                <p> opis kaj je to</p>
                <input type="text" required />
                <p>file</p>
                <input type="file" required />
                <button class="submit">Submit</button>
            </form>
        </div>
       

    </div>
    
</div>
