<div class="predmetiOpisMain">
    <div class="opisPredmeta">
        <div class="predmetki minHeight">
            <h2>ime predmeta</h2>
            <h5>Profesor</h5>
            <h6>Rok</h6>
            <h6>NAVODILA</h6>
            <a href="#"></a>
            <br />
            <br />
            <form class="formiran">
                
                
                <p>oddaj file</p>
                <input type="file" required />
                <button class="submit">Submit</button>
            </form>
        </div>
       

    </div>
    
</div>
