   <div class="predmetiMain">
    <div class="predmet">Math</div>
    <div class="predmet">Science</div>
    <div class="predmet">History</div>
    <div class="predmet">English</div>
    <div class="predmet">Art</div>
   
</div>