<div style="margin-top:10%;" class="predmetiOpisMain">
    <div class="opisPredmeta">
        <div style="font-size:20px;" class="predmetki">
            <label class="para">kar pride notr</label>
            <div class="para">
                <label class="lab">profesor</label>
                <label class="lab">profesor</label>
                <label class="lab">profesor</label>
            </div>
            <div style="width:96%;">
                <input class="kljuc" type="text" placeholder="Kljuc" />
            </div>
            <button style="margin-top:50px;" class="button">Dodaj</button>
        </div>
       
    </div>
   
</div>