@model List<predmetiDisplayModel>


fdsafdsafdsa
<!--
<a asp-area="" asp-controller="Dijak" asp-action="PredmetiAdd">  <i id="plus" class="gg-add"></i>  </a>
<div class="container mx-auto mt-4">
    <div class="row">


       @* @foreach (var item in Model)*@
            {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">kkt</h5>

                      @*foreach (var ime in item.ime)*@
                            {
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            }

                        <p class="card-text">df</p>
                        <a class="btn mr-2"><i class="fas fa-link"></i>r</a>
                        <a class="btn "><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>

            }


    </div>
</div>
    -->
<!--<button class="button">Nacrtovanje in uporaba podatkovnih baz</button>-->
