@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="text-center">
        <h1 class="display-4">Profileee</h1>

    </div>
    <div class="homeMain">
        <!--   <img class="pict" src="~/img/ker.jpg" />-->
    </div>


</div>