@model gradivaEntity

@{
    List<predmetiEntity> predmeti = new List<predmetiEntity>();
    predmeti = ViewBag.predmeti;

}
<form class="predmetGrid" >
    
    <div class="predmetIns centriran">
        <h3>ime gradiva</h3>
        <input asp-for="ime" type="text" required />


    </div>
    
    <div class="predmetFil" style="text-align:center;">
        <h3>opis gradiva</h3>
        <input asp-for="opis" type="text" required />
    </div>

    <div class="oddajaNalog">
        <h3>file</h3>
        <input type="file" />
    </div>
    <div class="oddaja">
        <select name="subjects" asp-for="id_predmeta">
            @foreach (var i in predmeti)
            {
                <option value="@i.id_predmeta.">@i.predmet</option>

            }


            @*<option value="volvo">Predmet</option>
            <option value="saab">Mat</option>
            <option value="opel">Fiz</option>
            <option value="audi">nevem</option>*@
        </select>
        <div class="delitev">
            <select name="cars" id="cars">
                <option value="volvo">Predmet</option>
                <option value="saab">Mat</option>
                <option value="opel">Fiz</option>
                <option value="audi">nevem</option>
            </select>
        </div>
        <div class="delitev delitev2">
             
                 <label>
                     Pomebno
                 </label>
                 <input type="checkbox"/>

             
        </div>
       
    </div>
    <div class="oddaja">
       
        <button>submit</button>
    </div>

</form>