<form class="predmetGrid">
    <div class="predmetIns centriran">
      <h3>ime gradiva</h3>
       
        <input class="input" type="text" required  />
    </div>
    <div class="predmetFil" style="text-align:center;">
        <h3>opis gradiva</h3>
        <input type="text" required />
    </div>
    <div class="oddajaNalog">
        <h3>file</h3>
        <input type="file"  />
    </div>
    <div class="oddaja">
        <button>submit</button>
    </div>

</form>