
<a asp-area="" asp-controller="Profesor" asp-action="GradivaAdd">  <i id="plus" class="gg-add"></i>  </a>



<div style="margin-top: 20px; margin-left: 100px; background-color: #DFDFFC !important; " class="card mb-4">
    <div class="card-body">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->

            <h2 style="color:black;" class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Gradiva</h2>


            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!--Table-->
        <table class="vseTabela">
            <thead>
                <tr>

                    <th class="vseTabelaHead">ime</th>
                    <th class="vseTabelaHead">opis</th>
                    <th class="vseTabelaHead">file</th>


                </tr>
            </thead>
            <tbody class="vseTabela">
                <tr class="vseTabela">

                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>

                </tr>
                <tr class="vseTabela">

                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>at</td>

                </tr>
                <tr class="vseTabela">

                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>witter</td>


                </tr>
                <tr class="vseTabela">

                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>witter</td>


                </tr>


            </tbody>
        </table>
        <!--Table-->
    </div>
</div>
