@model List<gradivaDisplay>
<a asp-area="" asp-controller="Profesor" asp-action="GradivaAdd">  <i id="plus" class="gg-add"></i>  </a>



<div style="margin-left:90px !important; " class="container mx-auto mt-4">
    <div class="row">

        @foreach (var i in Model)
            {


        <div class="col-md-4">
            <div class="card cardTwo">

                <div class="card-body">
                    <h5 class="card-title">Ime: @i.ime</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Opis: @i.opis</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Predmet: @i.predmet</h6>
                    <br />
                    <div class="linki">
                        <a href="@i.ime_datoteke" download>Prilozena Datoteka</a>
                    </div>
                    <button> <a href="/Profesor/GradivoOdstrani?id=@i.id_gradiva">Delete</a> </button>
                </div>
            </div>
        </div>
            }



    </div>
</div>