<div class="predmetGrid">
    <form>
        <div class="predmetIns">
            <!-- Instructions content goes here -->
            <h2>Navodila za naloge</h2>
            <p>Oddaj vse datoteke, ki so potrebne</p>
            <input type="text" />
        </div>
        <!-- Files and content goes here -->
        <div class="predmetFil">
            <h2>Nalozi datoteko</h2>
            <input class="uploadFile" type="file" id="file-input">


        </div>

        <div id="file-display" class="oddajaNalog">


            <h2>Opis</h2>
            <p>
                opis vaj ki so potrebje in jaaa to je to
            </p>
            <input type="text" />
            <br />
            <h3>Rok naloge</h3>
            <input type="date" class="form-control" placeholder="12.5.2003" value="">


        </div>


        <div class="overview">

            <button style="margin-top:50px;">Submit Nalogo</button>
        </div>

    </form>

    

</div>





