
@model List<nalogeEntity>

<div class="predmetniGrid">

    @foreach (var i in Model)
        {


    <div class="predmetni predmet1">
        <a class="null" href="/Profesor/Naloga?id=@i.id_naloge">
            <div>
                <h3>
                    ime naloge: @i.ime_naloge
                </h3>
            </div>
            <div>
                <h5>
                    navodilo naloge: @i.navodilo_naloge
                </h5>
            </div>
        </a>

        <br />
        <button>izbrisi nalogo</button>
    </div>
        }
    @*<div class="predmetni predmet2">
        <a class="null" asp-area="" asp-controller="Profesor" asp-action="VsiDijaki">
            <div>
                <h3>
                    ime naloge
                </h3>
            </div>
            <div>
                <h5>
                    opis naloge
                </h5>
            </div>
            <div>
                file
            </div>
        </a>
        <br />
        <button>izbrisi nalogo</button>
    </div>
    <div class="predmetni predmet3">
        <a class="null" asp-area="" asp-controller="Profesor" asp-action="VsiDijaki">
        <div>
            <p>
                ime naloge
            </p>
        </div>
        <div>
            <p>
                opis naloge
            </p>
        </div>
        <div>
            file
        </div>
            </a>
    </div>*@
</div>

    

  