<div class="containerji">
    <div class="card" style="margin-top: 20px; margin-left: 100px; background-color: #DFDFFC !important; ">
        
        <h2 class="pad20">Potence</h2>
        <hr  />
        <h3>Ime Profesor</h3>
        <p> opis naloge</p>
        <div class="block">
            <h4 class="padIn">Naloge ustvarjena:</h4>
            <h5 class="padIn">rok naloge:</h5>
            <p class="padIn">File: <a href="#"></a></p>
        </div>
    </div>
    <div style="margin-top: 20px; margin-left: 100px; background-color: #DFDFFC !important; " class="card mb-4">
       
        <div class="card-body">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            <!--Table-->
            <table class="vseTabela">
                <thead>
                    <tr>
                        <th class="vseTabelaHeadOne">#</th>
                        <th class="vseTabelaHead">Ime</th>
                        <th class="vseTabelaHead">Priimek</th>
                        <th class="vseTabelaHead">Rok Oddaje</th>
                        <th class="vseTabelaHead">Odločitev</th>


                    </tr>
                </thead>
                <tbody class="vseTabela">
                    <tr class="vseTabela">
                        <th>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>datuk</td>
                        <td>
                            <button class="approve">
                                Potrdi
                            </button>
                            <button class="disapprove">
                                Ovrži
                            </button>
                        </td>

                    </tr>
                    <tr class="vseTabela">
                        <th>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>datuk</td>
                        <td>
                            <button class="approve">
                                Potrdi
                            </button>
                            <button class="disapprove">
                                Ovrži
                            </button>
                        </td>

                    </tr>
                    <tr class="vseTabela">
                        <th>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>datuk</td>
                        <td>
                            <button class="approve">
                                Potrdi
                            </button>
                            <button class="disapprove">
                                Ovrži
                            </button>
                        </td>

                    </tr>
                    <tr class="vseTabela">
                        <th>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>datuk</td>
                        <td>
                            <button class="approve">
                                Potrdi
                            </button>
                            <button class="disapprove">
                                Ovrži
                            </button>
                        </td>

                    </tr>


                </tbody>
            </table>
            <!--Table-->
        </div>
    </div>

</div>