
@model loginModel
@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<br>
<br>

<h1 class="text-center">Prijava</h1>
<br>
<br>
<div class="contact-us">
    <form>
        <div asp-validation-summary="All"></div>
        <input asp-for="email" name="customerEmail" placeholder="Email" type="email" />
        <input asp-for="geslo" type="password" placeholder="Geslo" required />
        <button type="button">Prijava</button>
    </form>
</div>