@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<br>
<br>

<h1 class="text-center">Prijava</h1>
<br>
<br>
<div class="contact-us">
    <form>
        <input name="customerEmail" placeholder="Email" type="email" />
        <input type="password" placeholder="Geslo" required />
        <button type="button">Prijava</button>
    </form>
</div>