
@model loginModel
@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<br>
<br>

<h1 class="text-center">Prijava</h1>
<br>
<br>
<div class="contact-us">
    <form method="post" asp-action="Login" >
        <div asp-validation-summary="All"></div>
        <input asp-for="email" name="email" placeholder="Email" type="email" />
        <input asp-for="geslo" name="geslo" type="password" placeholder="Geslo" required />
        <button type="submit">Prijava</button>
    </form>
</div>