@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<br>
<br>

<h1 class="text-center">Registracija</h1>
<br>
<br>
<div class="contact-us">
    <form>
        <input placeholder="Ime" required="" type="text" />
        <input placeholder="Priimek" required="" type="text" />
        <input name="customerEmail" placeholder="Email" type="email" />
        <input type="password" placeholder="Geslo" required />

        <button type="button">Registracija</button>
    </form>
</div>

