@model uporabnikiEntity
@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<br>
<br>

<h1 class="text-center">Registracija</h1>
<br>
<br>
<div class="contact-us">
    <form method="post" asp-action="Registration">

        <input asp-for="ime" placeholder="Ime" required="" type="text" />

        <input asp-for="priimek" placeholder="Priimek" required="" type="text" />

        <input asp-for="email" name="email" placeholder="Email" type="email" />

        <input asp-for="starost" name="customerEmail" placeholder="Datum rojstva" type="date" />

        <input asp-for="geslo" type="password" placeholder="Geslo" required />

        <button type="submit">Registracija</button>

    </form>
</div>
