<div class="containerSpremeni rounded bg-white mt-5 mb-5">
    <div class="row">
        <h1>SPREMENI GESLO</h1>
        <div style="margin-top:10px; height:auto !important;" class="col-md-12"><label class="labels"></label><input class="form-control" type="text" placeholder="novo geslo" value=""></div>
        <div style="height:auto !important;" class="col-md-12"><label></label><input class="form-control" type="text" placeholder="ponovi geslo" value=""></div>
        <button class="potrdilni">potrdi</button>
    </div>
   
</div>

