html {
 
}

li{
    border:1px solid black;
    font-size:20px;
}

header{  
    width:100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.container-fluid {
    background-color: lightblue;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.navbar{
    
    padding:10px;
   
   
}

#containers{
    border-bottom:2px solid black;
}

html {
  position: relative;
  min-height: 100%;
}

/*LOGIN start*/
@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: grid;   
    margin-bottom: 60px;
}

.contact-us {
    background: #f8f4e5;
    padding: 50px 100px;
    border: 2px solid black;
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
}

input {
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 28pt;
    font-family: "Fjalla One";
    margin-bottom: 28pt;
    border: none;
    border-bottom: 5px solid black;
    background: #f8f4e5;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: black;
}

    input:focus {
        border-bottom: 5px solid #ffa580;
    }

.usDescription {
    position: absolute;
    bottom: 0px;
    left:0px;
    background-color: pink;
    height: 150px;
    padding: 20px;
    border:2px solid black;
    width:100%;
   
}
.footNaslov{
    text-align:center;
    border:2px solid black;
    font-size:25px;
}
td{
    border:2px dotted black;
    padding: 15px;
    text-align:center;
    width:100px;
    font-size:18px;
}

button {
    display: block;
    margin: 0 auto;
    line-height: 28pt;
    padding: 0 20px;
    background: #ffa580;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    outline: none;
    border: 1px solid black;
    box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px black;
}

    button:hover {
        background: black;
        color: white;
        border: 1px solid black;
    }

::selection {
    background: #ffc8ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border-bottom: 5px solid #95a4ff;
    -webkit-text-fill-color: #2A293E;
    -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
}

/*LOGIN end*/


/* main-header start */
[data-target="#mainMenu"] {
    position: relative;
    z-index: 999;
}

#mainMenu li > a {
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.main-header.fixed-nav #mainMenu li > a {
    color: #fff;
    text-decoration: none;
}

#mainMenu li:not(:last-of-type) {
    margin-right: 30px;
}

#mainMenu li > a::before {
    position: absolute;
    content: "";
    width: calc(100% - 1px);
    height: 1px;
    background: #fff;
    bottom: -6px;
    left: 0;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    z-index: -1;
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

#mainMenu li > a:hover::before,
#mainMenu li > a.active::before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.main-header.fixed-nav #mainMenu li > a::before {
    background: #000;
}

.main-header {
    position: fixed;
    top: 25px;
    left: 0;
    z-index: 99;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .main-header.fixed-nav {
        top: 0;
        background: #fff;
        -webkit-box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
        box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

        .main-header.fixed-nav .navbar-brand > img:last-of-type {
            display: block;
        }

        .main-header.fixed-nav .navbar-brand > img:first-of-type {
            display: none;
        }
.navbar-nav {
   
    padding-left: 30px;
    padding-right: 30px;
    
   
}
.navbar-brand {
    color: purple;
    padding-left: 20px;
}

.main-header .navbar-brand img {
    max-width: 40px;
    animation: fadeInLeft 0.4s both 0.4s;
}
/* main-header end */
@media (max-width: 991px) {
    /*header starts*/
    .collapse.in {
        display: block !important;
        padding: 0;
        clear: both;
    }

    .navbar-toggler {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 25px;
        right: 0;
        border: none;
        border-radius: 0;
        outline: none !important;
    }

    .main-header .navbar {
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .main-header .navbar-nav {
        margin-top: 70px;
    }

        .main-header .navbar-nav li .nav-link {
            text-align: center;
            padding: 20px 15px;
            border-radius: 0px;
        }

    /**/
    .main-header .navbar-toggler .icon-bar {
        background-color: #fff;
        margin: 0 auto 6px;
        border-radius: 0;
        width: 30px;
        height: 3px;
        position: absolute;
        right: 0;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .main-header .navbar .navbar-toggler .icon-bar:first-child {
        margin-top: 3px;
    }

    .main-header .navbar-toggler .icon-bar-1 {
        width: 10px;
        top: 0px;
    }

    .main-header .navbar-toggler .icon-bar-2 {
        width: 16px;
        top: 12px;
    }

    .main-header .navbar-toggler .icon-bar-3 {
        width: 20px;
        top: 21px;
    }

    .main-header .current .icon-bar {
        margin-bottom: 5px;
        border-radius: 0;
        display: block;
    }

    .main-header .current .icon-bar-1 {
        width: 18px;
    }

    .main-header .current .icon-bar-2 {
        width: 30px;
    }

    .main-header .current .icon-bar-3 {
        width: 10px;
    }

    .main-header .navbar-toggler:hover .icon-bar {
        background-color: #fff;
    }

    .main-header .navbar-toggler:focus .icon-bar {
        background-color: #fff;
    }

    
}
