@model uporabnikiEntity

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>DODAJ UPORABNIKA</h3>
                    <p>Izpolni vsa polja!</p>
                    <form class="requires-validation" asp-action="AddUporabnik" method="post">
                        <div asp-validation-summary="All"></div>
                        <div class="col-md-12">
                            <input class="form-control" asp-for="ime" type="text" name="ime" placeholder="Ime" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" asp-for="priimek" type="text" name="priimek" placeholder="priimek" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12" style="margin-top:20px;">
                            <input class="form-control" asp-for="starost" type="date" name="starost" placeholder="Datum Rojstva" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12" style="margin-bottom:10px;">
                            <input class="form-control" asp-for="email" type="email" name="email" placeholder="E-mail naslov" required>
                            <div class="valid-feedback">Email field is valid!</div>
                            <div class="invalid-feedback">Email field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <select asp-for="pravice" class="form-select mt-3" required>
                                <option selected disabled value="">Pravice</option>
                                <option value="u">DIJAK</option>
                                <option value="c">PROFESOR</option>

                            </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                        </div>


                        <div class="col-md-12">
                            <input class="form-control" asp-for="geslo" type="password" name="geslo" placeholder="Geslo" required>
                            <div class="valid-feedback">Geslo je vredu</div>
                            <div class="invalid-feedback">Geslo ne sme biti prazno</div>
                        </div>

                        <div style="margin:30px;" class="form-button mt-3">
                            <button  style="margin-top:30px !important; background-color:grey !important; color:black !important;" id="submit" type="submit" class="btn btn-primary">Dodaj!</button>
                        </div>

                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
