@model addUserDisplay

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Dodaj Uporabnika</h3>
                    <p>Izpolni vsa polja!</p>
                    <form class="requires-validation" asp-action="AddUporabnik" method="post">
                        <div asp-validation-summary="All"></div>
                        <div class="col-md-12">
                            <input class="form-control" asp-for="user.ime" type="text" placeholder="Ime" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" asp-for="user.priimek" type="text" placeholder="priimek" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12" style="margin-top:20px;">
                            <input class="form-control" asp-for="user.starost" type="date"  placeholder="Datum Rojstva" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12" style="margin-bottom:10px;">
                            <input class="form-control" asp-for="user.email" type="email" placeholder="E-mail naslov" required>
                            <div class="valid-feedback">Email field is valid!</div>
                            <div class="invalid-feedback">Email field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <select asp-for="user.pravice" class="form-select mt-3" required>
                                <option selected disabled value="">Pravice</option>
                                <option value="c">PROFESOR</option>
                                <option value="u">DIJAK</option>
                            </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                        </div>


                        <div class="col-md-12">

                            <input class="form-control" asp-for="user.geslo" type="password" placeholder="Geslo" required>
                            <div class="valid-feedback">Geslo je vredu</div>
                            <div class="invalid-feedback">Geslo ne sme biti prazno</div>
                        </div>
                       <div class="col-md-12" style="margin-bottom:10px; font-size:20px; color:lightgrey;padding-left:15px;padding-top:30px;">Izbira predmetov </div>
                       <div style="display:inline-block !important; margin-right: 10px;" class="col-md-12">

                           @foreach(var i in Model.predmeti){


                               <input type="checkbox" name="subjects" value="@i.id_predmeta">
                               <label for="vehicle1"> @i.predmet </label><br>



                           }

                       </div>

                        <div id="displayData">

                        </div>



                        <div style="margin:30px;" class="form-button mt-3">
                            <button type="submit" style="margin-top:30px !important; background-color:grey !important; color:black !important;" class="btn btn-primary">Dodaj!</button>
                        </div>




                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
