<div class="gradivaGrid">
    <div id="prvi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a>odpri za gradiva</a>
            </div>
        </div>
    </div>
    <div id="prvi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a>odpri za gradiva</a>
            </div>
        </div>
    </div>
    <div id="prvi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a>odpri za gradiva</a>
            </div>
        </div>
    </div>
    <div id="prvi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a>odpri za gradiva</a>
            </div>
        </div>
    </div>
    <div id="prvi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a>odpri za gradiva</a>
            </div>
        </div>
    </div>
    <div id="prvi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a>odpri za gradiva</a>
            </div>
        </div>
    </div>
    <div id="prvi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a>odpri za gradiva</a>
            </div>
        </div>
    </div>
</div>