<div class="gradivaGrid">
    <div id="prvi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a class="null" asp-area="" asp-controller="Admin" asp-action="GradivaPredmet" style="border:1px solid black; padding: 10px;border-radius:20px;">odpri za gradiva</a>
            </div>
        </div>
    </div>
    <div id="prvi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a style="border:1px solid black; padding: 10px;border-radius:20px;">odpri za gradiva</a>

            </div>
        </div>
    </div>
    <div id="drugi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a style="border:1px solid black; padding: 10px;border-radius:20px;">odpri za gradiva</a>

            </div>
        </div>
    </div>
    <div id="tretji" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a style="border:1px solid black; padding: 10px;border-radius:20px;">odpri za gradiva</a>

            </div>
        </div>
    </div>
    <div id="cetrti" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Predmet</p>
                <br />
                <a style="border:1px solid black; padding: 10px;border-radius:20px;">odpri za gradiva</a>

            </div>
        </div>
    </div>
  
</div>