<div class="gradivaGrid">
    <div id="prvi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Prvo Gradivo</p>
                <br />
                <h5>naslov</h5>
                <h6>potence</h6>
                <a href="#"></a>
               
            </div>
        </div>
    </div>
    <div id="drugi" class="gradivaContainer">
        <div class="gradivaFloat">
            <div class="gradivaPred">
                <p>Drugo Gradivo</p>
                <br />
                <p>hello</p>
                <a href="#"></a>
            </div>
        </div>
    </div>
   
  
</div>