@model predmetiEntity

<div class="middleAdd">
    <div class="containerAdd">
        <div class="text">
            Dodaj predmet
        </div>
        <form asp-action="PredmetiAdd" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-row">
                <div class="input-data">
                    <input asp-for="predmet" type="text" required>
                    <div class="underline"></div>
                    <label for="">ime predmeta</label>
                </div>
                <div class="input-data">
                    <input asp-for="krajsava" type="text" required>
                    <div class="underline"></div>
                    <label for="">krajsava</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input asp-for="opis" type="text" required>
                    <div class="underline"></div>
                    <label for="">opis</label>
                </div>
                <div class="input-data">
                    <input asp-for="kljuc" type="text" required>
                    <div class="underline"></div>
                    <label for="">Ključ</label>
                </div>
            </div>
            <div class="input-data">

                <button style="width:100px;height:20px; margin-bottom:30px;" type="submit">Submit</button>
            </div>
        </form>
    </div>

</div>