@model List<predmetiDisplayModel>

<a  asp-area="" asp-controller="Admin" asp-action="PredmetiAdd">  <i id="plus" class="gg-add"></i>  </a>
<div class="container mx-auto mt-4">
    <div class="row">

        @foreach (var item in Model)
        {
            <div style="width: 30rem; height:15rem; font-size:20px;" class="col-md-4">
                <div class="card" style="width: 30rem; height:15rem; font-size:20px;">

                    <div class="card-body">
                        <h4 class="card-title">@item.predmet</h4>

                        @foreach (var ime in item.ime)
                        {
                            <h4 class="card-subtitle mb-2 text-muted">@ime</h4>
                        }
                        
                        <p class="card-text">@item.opis</p>
                        <a style="border:1px black solid !important;" class="btn mr-2">Uredi</a>
                        <a style="border:1px black solid !important;" class="btn ">zbrisi</a>
                    </div>
                </div>
            </div>

         }



    </div>
</div>

