
<a asp-area="" asp-controller="Admin" asp-action="PredmetiAdd">  <i id="plus" class="gg-add"></i>  </a>

<div class="container py-5">
    <div class="row">
        <div style="width:1300px !important; margin-left:7% !important;" class="col-lg-7 mx-auto bg-white rounded shadow">

            <!-- Fixed header table-->
            <div class="table-responsive">
                <table class="table table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-3">DIJAKI</th>
                            <th scope="col" class="col-3">IME</th>
                            <th scope="col" class="col-3">PRIIMEK</th>
                            <th scope="col" class="col-3">E-MAIL</th>
                            <th scope="col" class="col-3">UREDI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="col-3">1</th>
                            <td class="col-3">Mark</td>
                            <td class="col-3">Otto</td>
                            <td class="col-3">mdo</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">2</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">3</th>
                            <td class="col-3">Larry</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">twitter</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">4</th>
                            <td class="col-3">Martin</td>
                            <td class="col-3">Williams</td>
                            <td class="col-3">Marty</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">5</th>
                            <td class="col-3">Sam</td>
                            <td class="col-3">Pascal</td>
                            <td class="col-3">sam</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">6</th>
                            <td class="col-3">John</td>
                            <td class="col-3">Green</td>
                            <td class="col-3">john</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">7</th>
                            <td class="col-3">David</td>
                            <td class="col-3">Bowie</td>
                            <td class="col-3">david</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">8</th>
                            <td class="col-3">Pedro</td>
                            <td class="col-3">Rodriguez</td>
                            <td class="col-3">rod</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">5</th>
                            <td class="col-3">Sam</td>
                            <td class="col-3">Pascal</td>
                            <td class="col-3">am</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-3">10</th>
                            <td class="col-3">Jacob</td>
                            <td class="col-3">Thornton</td>
                            <td class="col-3">fat</td>
                            <td> <button>Uredi</button></td>
                        </tr>

                    </tbody>
                </table>

            </div><!-- End -->

        </div>
    </div>
</div>