@model List<ucenciDisplayModel>

@{

    int modal = 0;

}
<a asp-area="" asp-controller="Admin" asp-action="AddUporabnik">  <i id="plus" class="gg-add"></i>  </a>

<div class="container py-5">
    <div class="row">
        <div style="width:1300px !important; margin-left:7% !important;" class="col-lg-7 mx-auto bg-white rounded shadow">

            <!-- Fixed header table-->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Dijaki</th>
                            <th scope="col">Ime</th>
                            <th scope="col">Priimek</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Predmeti</th>
                            <th scope="col">Datum Rojstva</th>
                            <th scope="col">Uredi</th>
                            <th scope="col">Izbrisi</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row" class="col-3">1</th>
                                <td class="col-3">@item.ime</td>
                                <td class="col-3">@item.priimek</td>
                                <td class="col-3">@item.email</td>
                                <td class="col-3">
                                    <a href="#myModal-@modal" class="trigger-btn" data-toggle="modal">Predmeti</a>
                                </td>
                                <td>Starost</td>
                                <td> <button>Uredi</button></td>
                                <td> <button><a href="/Admin/Deleteuser?page=Ucenci&id=@item.id_uporabnika">Odstrani</a></button></td>

                                <td>
                                    <div id="myModal-@modal" class="modal fade">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    @foreach (var i in item.predmeti)
                                                    {
                                                        <p>@i</p>

                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>


                            </tr>

                                modal++;
                            }

                    </tbody>
                </table>

            </div><!-- End -->

        </div>
    </div>
</div>
@*<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>Great!</h4>
                <p>Your account has been created successfully.</p>
                <button class="btn btn-success" data-dismiss="modal"><span>Start Exploring</span> <i class="material-icons">&#xE5C8;</i></button>
            </div>
        </div>
    </div>
</div>*@