@model List<ucenciDisplayModel>
<a asp-area="" asp-controller="Admin" asp-action="PredmetiAdd">  <i id="plus" class="gg-add"></i>  </a>

<div class="container py-5">
    <div class="row">
        <div style="width:1300px !important; margin-left:7% !important;" class="col-lg-7 mx-auto bg-white rounded shadow">

            <!-- Fixed header table-->
            <div class="table-responsive">
                <table class="table table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-3">DIJAKI</th>
                            <th scope="col" class="col-3">IME</th>
                            <th scope="col" class="col-3">PRIIMEK</th>
                            <th scope="col" class="col-3">E-MAIL</th>
                            <th scope="col" class="col-3">UREDI</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                            {
                        <tr>
                            <th scope="row" class="col-3">1</th>
                            <td class="col-3">@item.ime</td>
                            <td class="col-3">@item.priimek</td>
                            <td class="col-3">@item.email</td>
                            <td> <button>Uredi</button></td>
                        </tr>

                            }

                    </tbody>
                </table>

            </div><!-- End -->

        </div>
    </div>
</div>