
<a asp-area="" asp-controller="Admin" asp-action="AddUporabnik">  <i id="plus" class="gg-add"></i>  </a>

<div class="container py-5">
    <div class="row">
        <div style="width:1300px !important; margin-left:7% !important;" class="col-lg-7 mx-auto bg-white rounded shadow">

            <!-- Fixed header table-->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ime</th>
                            <th scope="col">Priimek</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Predmeti</th>
                            <th scope="col">Uredi</th>
                            <th scope="col">Izbrisi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Otto</td>
                            <td>
                                <a href="#myModal" class="trigger-btn" data-toggle="modal">Predmeti</a>
                            </td>
                            <td>
                                <button class="button">Uredi</button>
                            </td>
                            <td>
                                <button class="button">Izbrisi</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Otto</td>
                            <td>
                                <a href="#myModal" class="trigger-btn" data-toggle="modal">Predmeti</a>
                            </td>
                            <td>
                                <button class="button">Uredi</button>
                            </td>
                            <td>
                                <button class="button">Uredi</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>Otto</td>
                            <td>
                                <a href="#myModal" class="trigger-btn" data-toggle="modal">Predmeti</a>
                            </td>
                            <td>
                                <button class="button">Uredi</button>
                            </td>
                            <td>
                                <button class="button">Uredi</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
               
            </div><!-- End -->

        </div>
    </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>Great!</h4>
                <p>Your account has been created successfully.</p>
                <button class="btn btn-success" data-dismiss="modal"><span>Start Exploring</span> <i class="material-icons">&#xE5C8;</i></button>
            </div>
        </div>
    </div>
</div>